@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

*{
    font-family: 'Merriweather', serif;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;

    background: #cac8c8;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.page{
    padding-top: 150px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .container {
    
    margin-top: 100px;
    display: flex;
    gap: 40px;
  }

  .box {
    text-decoration:none;
    color: black;
    width: 300px;
    height: 225px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    transition: background 0.3s;
    font-size: 30px;
    padding: 20px;
  }

  .box:visited{
    color: black;
  }
  
  .box:hover {
    background: #ddd;
  }
  .details {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 16px;
  }

  .container_mend{
    margin-top: 100px;
    display:grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:100px;
  }